/* Let's start syling😍 */

.dashboardContainer {
  display: flex;
}

/* sidebar styling */
.dashboardContainer__sidebar {
  flex-basis: 2%; /* Takes up 5% of the container's width */
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  height: 100%;
}

.dashboardContainer__sidebar h2 {
  color: rgb(255, 115, 0);
  text-align: center;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

.dashboardContainer__sidebar li {
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.dashboardContainer__sidebar li:first-child {
  background-color: rgba(27, 90, 248, 0.1);
}

.dashboardContainer__sidebar li:first-child a {
  color: rgb(27, 89, 248);
}

.dashboardContainer__sidebar li a {
  display: flex;
  align-items: center;
  gap: 10%;
}

.dashboardContainer__sidebar h3 {
  padding-left: 1rem;
}

/* MAIN CONTENT STYLING */
.dashboardContainer__mainContent {
  flex-basis: 95%; /* Takes up 95% of the container's width */
  padding: 1.5rem 2rem;
}

.dashboardContainer__mainContent__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboardContainer__mainContent__header button {
  display: flex;
  align-items: center;
}

/* First Section: Dropdown Filters  */
.dashboardContainer__mainContent__sectionA {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardContainer__mainContent__sectionA .custom-select {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  width: 100%;
  margin-left: 0.4rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.188);
}

.dashboardContainer__mainContent__sectionA .custom-select label span {
  font-weight: bold;
}

.dashboardContainer__mainContent__sectionA .custom-select select {
  border: none;
  background-color: transparent;
  font-size: inherit;
}

.dashboardContainer__mainContent__sectionA .custom-select select:focus,
.dashboardContainer__mainContent__sectionA .custom-select select:hover {
  outline: none; /* Remove default focus outline */
}

/* Second Section: Performance Metrics */
.dashboardContainer__mainContent__sectionB {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}

.dashboardContainer__mainContent__sectionB__left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dashboardContainer__mainContent__sectionB__left__top,
.dashboardContainer__mainContent__sectionB__left__bottom {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.dashboardContainer__mainContent__sectionB__left__top div,
.dashboardContainer__mainContent__sectionB__left__bottom div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 1rem 1rem 3rem;
  border-radius: 1.5rem;
  width: 100%;
  font-size: 0.9rem;
  height: 9rem;
}

.dashboardContainer__mainContent__sectionB__left__bottom {
  margin-top: 1.5rem;
}

.dashboardContainer__mainContent__sectionB__left__bottom div figure {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 1rem;
}

.dashboardContainer__mainContent__sectionB__left__bottom div img {
  width: 8rem;
}

.dashboardContainer__mainContent__sectionB__left__bottom div img:last-child{
  margin-top: -1.2rem;
}

.dashboardContainer__mainContent__sectionB__right {
  background-color: #fff;
  border-radius: 1.5rem;
  width: 50%;
  padding: 1rem 1rem 0 1rem;
}

.dashboardContainer__mainContent__sectionB__right__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .3rem;
  border-bottom: 1px solid rgb(228, 229, 231, 0.4);
}

.dashboardContainer__mainContent__sectionB__right__top select {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: 900;
}

.dashboardContainer__mainContent__sectionB__right__bottom .chart-container {
  display: flex;
  margin-top: 1.4rem;
}

.dashboardContainer__mainContent__sectionB__right__bottom .y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 10px;
  height: 200px;

}

.dashboardContainer__mainContent__sectionB__right__bottom .y-axis div {
  height: 25px;
}

.dashboardContainer__mainContent__sectionB__right__bottom .bars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.dashboardContainer__mainContent__sectionB__right__bottom .bar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .4rem;
}

.dashboardContainer__mainContent__sectionB__right__bottom .progress-container {
  width: .8rem;  /* You can adjust the width of the bar */
  height: 200px;  /* Height of the progress bars */
  background-color: #F2F7FF;
  border-radius: 25px;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.dashboardContainer__mainContent__sectionB__right__bottom .progress-bar {
  background-color: #1B59F8;
  width: 100%;
  border-radius: 25px;
  transition: height 0.3s ease-in-out;
  z-index: 12;
}

.dashboardContainer__mainContent__sectionB__right__bottom .month-label {
  font-size: 14px;
  text-align: center;
}

